@use "../../../../assets/tokens/index.scss" as *;

app-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: currentColor;

  .app-icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    line-height: 1;
    color: inherit;

    &.size-sm {
      width: $size-xs;
      height: $size-xs;
      font-size: $size-xs;
    }

    &.size-md {
      width: $size-sm;
      height: $size-sm;
      font-size: $size-sm;
    }

    &.size-lg {
      width: $size-md;
      height: $size-md;
      font-size: $size-md;
    }

    svg {
      width: 100%;
      height: 100%;
      color: currentColor;
      display: block;
    }
  }
}