<div class="quotate">
    <h2>Cotiza tu sitio web</h2>
    <div class="quotate__items">
        <div class="quotate__items__container">
            <div class="quotate__items__container__image">
                <img src="../../../../assets/pictures/corporativa.jpg" alt="Imagen de una página web corporativa">
            </div>
            <h3 class="quotate__items__container__title"> Paginas web corporativas </h3>
            <a href="https://wa.me/3239900100">
                <app-button variant="outline" size="md">Cotizar</app-button>
            </a>
        </div>
        <div class="quotate__items__container">
            <div class="quotate__items__container__image">
                <img src="../../../../assets/pictures/ecommerce.jpg" alt="Imagen de una tienda en línea">
            </div>
            <h3 class="quotate__items__container__title">Tiendas en linea</h3>
            <a href="https://wa.me/3239900100">
                <app-button variant="outline" size="md">Cotizar</app-button>
            </a>
        </div>
        <div class="quotate__items__container">
            <div class="quotate__items__container__image">
                <img src="../../../../assets/pictures/blogs.jpg" alt="Imagen de una blogs y portales de contenido">
            </div>
            <h3 class="quotate__items__container__title">Blogs y Portales de Contenido:</h3>
            <a href="https://wa.me/3239900100">
                <app-button variant="outline" size="md">Cotizar</app-button>
            </a>
        </div>
        <div class="quotate__items__container">
            <div class="quotate__items__container__image">
                <img src="../../../../assets/pictures/landing.png" alt="Imagen de landing pages">
            </div>
            <h3 class="quotate__items__container__title">Landing Pages</h3>
            <a href="https://wa.me/3239900100">
                <app-button variant="outline" size="md">Cotizar</app-button>
            </a>
        </div>
        <div class="quotate__items__container">
            <div class="quotate__items__container__image">
                <img src="../../../../assets/pictures/portfolio.png" alt="Imagen de portafolios creativos" style="object-fit: contain;">
            </div>
            <h3 class="quotate__items__container__title">Portafolios Creativos</h3>
            <a href="https://wa.me/3239900100">
                <app-button variant="outline" size="md">Cotizar</app-button>
            </a>
        </div>
    </div>

</div>