<section class="support">
    <h1>Mantenimientos Preventivos y Correctivos</h1>
    <p>Soluciones para tu hogar o empresa</p>

    <div class="support__container">

        <div class="support__container__item">

            <h2>Mantenimiento de computadores</h2>

            <div class="support__container__item__box">
                <p>descripcion saul</p>
                <img src="../../../../assets/pictures/seguridad.jpg" alt="">
            </div>
        </div>
        <div class="support__container__item">
            <h2>Mantenimiento de dispositivos medicos</h2>

            <div class="support__container__item__box">
                <p>Mantenimientos preventivos y correctivos para dispositivos medicos</p>
                <img src="../../../../assets/pictures/seguridad.jpg" alt="">
            </div>
        </div>

    </div>

</section>