<section class="product-detail app-container">
  @if (viewModel$ | async; as vm) {
    <main class="product-main">
      <app-product-gallery 
        [images]="vm.product.images" 
        [name]="vm.product.name" />

      <app-purchase-info [product]="vm.product" />
    </main>

    <div class="product-details-bottom">
      <app-product-description [description]="vm.product.technicalDescription" />
      
      <section class="product-reviews">
        <h2 class="product-section__title">Opiniones del producto</h2>
        <app-review-list [comments]="vm.product.comments" />
        <app-review-form (onSubmit)="submitComment(vm.product._id, $event)" />
      </section>
    </div>
  }
</section>