$black-00: #000000;
$blue-00: #509FCB;
$blue-01: #04314C;
$blue-02: #66ccff;
$blue-03: #336699;
$blue-05: #003333;
$gray-00: #333333;
$gray-01: #BCBEC0;
$green-00: #BDF347;
$green-01: #55cc55;
$green-02: #9BCB3C;
$orange-00: #F7941D;
$pink-00: #F387AF;
$red-00: #ff0000;
$red-01: #cc0000;
$white-00: #ffffff;
$white-01: #f5f5f5;