<div>
  <label>Filtrar por Categoría:</label>
  <select [(ngModel)]="selectedCategoryId" (change)="filterProductsByCategory()">
    <option value="" selected>Todas las Categorías</option>
    @for (category of categories; track category) {
      <option [value]="category._id">{{ category.name }}</option>
    }
  </select>
  @if (noProductsMessage) {
    <div class="message-container">
      <p>{{ noProductsMessage }}</p>
    </div>
  }

  @for (product of products; track product) {
    <div class="card card-body mb-2">
      <div class="row">
        <div class="col-md-8">
          <ul>
            <li> name: {{product.name}} </li>
            <li> description: {{product.description}} </li>
            <li> price: {{product.price}} </li>
          </ul>
        </div>
        <div class="col-md-4">
          @for (filename of product.filenames; track filename) {
            <div class="picture">
              <img [src]="'http://localhost:3000/products/uploads/' + filename" alt="Product Image">
            </div>
          }
        </div>
      </div>
    </div>
  }