@use "../../../../assets/tokens/index.scss" as *;

.product-info {
  background: white;
  padding: $spacing-xl;
  border-radius: $radius-md;
  border: 1px solid rgb(0 0 0 / 8%);
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  &__title {
    font-size: 2rem;
    color: $purchase-info-heading;
    margin: 0;
  }

  &__price {
    font-size: 2.5rem;
    font-weight: bold;
    color: $purchase-info-heading;
    margin: 0;
  }

  &__stock {
    color: $purchase-info-stock;
    font-weight: 600;
  }

  &__label {
    font-weight: 700;
    color: $form-heading-text;
  }

  &__quantity {
    width: 100%;
    border-radius: $radius-sm;
    border: 1px solid #c4d8fc;
    padding: $spacing-sm;
  }

  &__button {
    color: $white-00;
    border: none;
    padding: 12px;
    border-radius: $radius-sm;
    font-weight: bold;
    cursor: pointer;

    &--primary {
      background: $blue-01;
    }

    &--whatsapp {
      background: #25d366;
    }
  }
}