<section class="development">
    <h1>DESARROLLO DE PAGINAS WEB</h1>
    <p>Atrevete a potenciar tu negocio creando experiencias que impulsarán tu presencia en linea</p>

    <div class="development__container">

        <div class="development__container__item">

            <h2>Paginas web corporativas</h2>

            <div class="development__container__item__box">
                <p>Diseñamos y desarrollamos sitios web corporativos que reflejan la esencia y los valores de tu
                    empresa. Desde la presentación de servicios hasta la generación de clientes potenciales, creamos una
                    presencia digital que destaca.</p>
                <img src="../../../../assets/pictures/corporativa.jpg" alt="">
            </div>
        </div>

        <div class="development__container__item">

            <h2>Tiendas en Linea</h2>

            <div class="development__container__item__box">

                <p>Potencia tus ventas en línea con nuestras soluciones de comercio electrónico. Desde catálogos de
                    productos atractivos hasta un proceso de pago seguro, creamos tiendas en línea que convierten
                    visitantes en clientes..</p>

                <img src="../../../../assets/pictures/ecommerce.jpg" alt="">

            </div>
        </div>

        <div class="development__container__item">

            <h2>Blogs y Portales de Contenido:</h2>
            <div class="development__container__item__box">

                <p>Impulsa tu marca como una autoridad en tu industria con blogs y portales de contenido atractivos.
                    Ofrecemos soluciones que destacan tus ideas y atraen a tu audiencia.</p>
                <img src="../../../../assets/pictures/blogs.jpg" alt="blog development">
            </div>
        </div>

        <div class="development__container__item">

            <h2>Landing Pages de Conversión:</h2>

            <div class="development__container__item__box">

                <p>Maximiza tus campañas de marketing con landing pages diseñadas para la conversión. Optimizamos cada
                    elemento para captar la atención y llevar a los visitantes a la acción deseada.</p>
                <img src="../../../../assets/pictures/landing.png" alt="">
            </div>
        </div>

        <div class="development__container__item">

            <h2>Portafolios Creativos: </h2>
            <div class="development__container__item__box">

                <p>Destaca tu creatividad y talento con portafolios en línea visualmente impactantes. Desde artistas
                    hasta profesionales creativos, creamos plataformas que exhiben tu trabajo de manera única</p>
                <img src="../../../../assets/pictures/portfolio.png" alt="">
            </div>
        </div>
    </div>

</section>