@use "../../../../assets/tokens/index.scss" as *;

.booking {
  background: $white-00;
  padding: $spacing-2xl 0;

  &__container {
    display: grid;
    gap: $spacing-xl;
  }

  &__title {
    margin: 0;
    color: $blue-01;
    text-align: center;

    @include poppins-cta(2rem);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-lg;
  }

  &__item {
    display: flex;
  }
}

@include respond-to('tablet-wide') {
  .booking {
    padding: $spacing-4xl 0;

    &__title {
      @include poppins-cta(2.25rem);
    }

    &__grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: $spacing-xl;
    }
  }
}