@use "../../../../assets/tokens/index.scss" as *;

.product-section {
  padding: $spacing-md 0;
  border-bottom: 1px solid #e0e0e0;

  &__title {
    color: $blue-01;
    font-size: 1.5rem;
    margin-bottom: $spacing-sm;
  }

  &__text {
    line-height: 1.6;
    color: $product-description-text;
    text-align: justify;
  }
}