<section class="networks">
    <h1>Instalación de Redes</h1>
    <p>La solución perfecta para tu hogar o empresa la encuentras aquí</p>

    <div class="networks__container">

        <div class="networks__container__item">

            <h2>Sistemas de Seguridad</h2>

            <div class="networks__container__item__box">
                <p>Diseñamos y desarrollamos sitios web corporativos que reflejan la esencia y los valores de tu
                    empresa. Desde la presentación de servicios hasta la generación de clientes potenciales, creamos una
                    presencia digital que destaca.</p>
                <img src="../../../../assets/pictures/seguridad.jpg" alt="">
            </div>
        </div>

    </div>

</section>